.root {
    -fx-background-image: url("Cop.jpg");
    -fx-background-size: cover;
    -fx-padding: 3em;
    -fx-font-family: Alegreya;
    -fx-font-size: 30px;
}

.button {
    -fx-border-color: white;
    -fx-font-size: 20px;
}